FIREBASE_PROJECT_ID=webuni-96ff7
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@webuni-96ff7.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEv...COMPLETA\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=webuni-96ff7.firebasestorage.app
